<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Search Results</title>
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/bootstrap-grid.min.css.map">
    <link rel="stylesheet" href="styles/styles.css">
</head>

<body id="search">
    <div class="container" id="weatherApp">
       <div class="loader" id="loader">
           <img class="gif" src="load-dribbble.gif" alt="">
        </div>
        <div class="row">
            <div class="col-12">
                <nav class="navbar navbar-light bg-light">
                    <span class="navbar-brand mb-0 h1">Get My Weather</span>
                    <a href="weather.html">Your Current Location</a>
                    <a href="travel.html">Traveling?</a>
                    <form class="form-inline" action="search.html" @submit="getValueSearch">
                        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search a City</button>
                    </form>
                </nav>
            </div>
        </div>
        <div class="row box">
            <div class="col-6 results">
                <h2>Information for your city</h2>
                <div v-for="element in weather_data">
                    <search-results :city_name="element.name" :icon="'http://openweathermap.org/img/w/' + element.weather[0].icon + '.png'" :desc_condition="element.weather[0].description" :temp="element.main.temp" :min_temp="element.main.temp_min" :max_temp="element.main.temp_max" :humidity="element.main.humidity" :wind="element.wind.speed" :clouds="element.clouds.all"></search-results>
                </div>
            </div>
            <div class="col-6 results">
                <h2>Next Three Days</h2>
                <div v-for="item in forecast">
                    <search-results :city_name="item.name" :icon="'http://openweathermap.org/img/w/' + item.weather[0].icon + '.png'" :desc_condition="item.weather[0].description" :temp="item.main.temp" :min_temp="item.main.temp_min" :max_temp="item.main.temp_max" :humidity="item.main.humidity" :wind="item.wind.speed" :clouds="item.clouds.all"></search-results>
                </div>
            </div>
        </div>
    </div>

    <script src="js/jquery-3.3.1.js"></script>
    <script src="js/vue.js"></script>
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script src="js/main.js"></script>
</body>

</html>
